
body{
    background-color: rgb(234, 237, 237) !important;
}

/* 
.link{
    color:white;
    text-decoration: none;
    font-weight: 800px;
    font-size: 20px;
}
.link:hover{
    color: rgb(82, 82, 175);
     border-bottom: 1px solid blue;
    padding: 3px;
}
.logo1{
    color: white;
    font-weight: 800px;
    font-size: 30px;
}
.logo1:hover{
   color: darkgoldenrod;
} */